# Details of pipeline jobs to deploy to templates

# Number of pipelines to deploy
pipeline_count: 1

# List of pipelines with their necessary details
pipelines:
  - pipeline: pipeline_type 
    job_name: job_name
    input: input_dataset
    output: output_dataset
