# Review changes to Github workflows
.github/workflows/** @Recidiviz/infra-review

# DADS-owned code

# R&D-owned code

# Polaris-owned code
recidiviz/persistence/**/case_triage/** @Recidiviz/polaris
recidiviz/persistence/**/insights/** @Recidiviz/polaris-insights
# The JC database should never be updated anymore
recidiviz/persistence/**/justice_counts/** @Recidiviz/polaris
recidiviz/persistence/**/pathways/** @Recidiviz/polaris
recidiviz/persistence/**/workflows/** @Recidiviz/polaris-workflows

# Doppler
#  For Doppler-owned files, files with a high volume of edits are assigned to the @Recidiviz/doppler-codeowners group,
#  which assigns a single reviewer via round robin. For more critical files with a lower volume of edits, we assign the
#  @Recidiviz/doppler group which is configured so all team members are added to each review.
recidiviz/airflow/** @Recidiviz/doppler
recidiviz/big_query/** @Recidiviz/doppler
recidiviz/calculator/query/state/views/reference/product_person_external_id_helpers.py @Recidiviz/doppler
recidiviz/ingest/direct/gating.py @Recidiviz/doppler-codeowners
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py @Recidiviz/doppler-codeowners
recidiviz/persistence/** @Recidiviz/doppler
recidiviz/pipelines/** @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
# TODO(#44755): Once all exemptions have been removed from this test file, we can remove Doppler ownership
recidiviz/tests/calculator/query/state/views/reference/workflows_opportunity_configs_test.py @Recidiviz/doppler
recidiviz/tests/calculator/query/state/views/reference/product_person_external_id_helpers_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler-codeowners
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/tests/view_registry/sentence_v1_migration_burndown_test.py @ageiduschek
recidiviz/tests/view_registry/sentences_v1_migration_burndown/** @ageiduschek
recidiviz/view_registry/deprecated_view_reference_exemptions.py @ageiduschek
recidiviz/view_registry/deployed_view_external_id_exemptions.py @ageiduschek, @Recidiviz/doppler-codeowners
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler-codeowners
recidiviz/view_registry/raw_data_table_reference_exemptions.py @Recidiviz/doppler-codeowners
