# Defines services that shared across multiple apps, such as Redis and our databases
# Run via `docker-compose up`

version: "3"

services:
  case_triage_migrations:
    image: us.gcr.io/recidiviz-staging/appengine/default:latest
    volumes:
      - "./recidiviz:/app/recidiviz/"
    depends_on:
      - case_triage_db
    command: pipenv run alembic -c recidiviz/persistence/database/migrations/case_triage_alembic.ini upgrade head
    environment:
      - SQLALCHEMY_DB_HOST=case_triage_db
      - SQLALCHEMY_DB_NAME=postgres
      - SQLALCHEMY_USE_SSL=0
      - SQLALCHEMY_DB_USER=case_triage_user
      - SQLALCHEMY_DB_PASSWORD=example

  case_triage_db:
    image: postgres:13.1-alpine
    environment:
      POSTGRES_USER: case_triage_user
      POSTGRES_PASSWORD: example
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - case_triage_db_data:/var/lib/postgresql/data
      - case_triage_db_socket:/var/run/postgresql/

  justice_counts_db:
    image: postgres:13.1-alpine
    environment:
      POSTGRES_USER: justice_counts_user
      POSTGRES_PASSWORD: example
      POSTGRES_DB: postgres
    ports:
      - "5434:5432"
    volumes:
      - justice_counts_db_data:/var/lib/postgresql/data
      - justice_counts_db_socket:/var/run/postgresql/

  justice_counts_migrations:
    image: us.gcr.io/recidiviz-staging/appengine/default:latest
    volumes:
      - "./recidiviz:/app/recidiviz/"
    depends_on:
      - justice_counts_db
    command: pipenv run alembic -c recidiviz/persistence/database/migrations/justice_counts_alembic.ini upgrade head
    environment:
      - SQLALCHEMY_DB_HOST=justice_counts_db
      - SQLALCHEMY_DB_NAME=postgres
      - SQLALCHEMY_USE_SSL=0
      - SQLALCHEMY_DB_USER=justice_counts_user
      - SQLALCHEMY_DB_PASSWORD=example

  redis:
    image: redis:5.0
    ports:
      - "6379:6379"

volumes:
  case_triage_db_data:
  case_triage_db_socket:
  justice_counts_db_data:
  justice_counts_db_socket:
