# Defines services needed to run the Application Data Import app (on top of shared services already in docker-compose.yaml)
# Run via `docker-compose -f docker-compose.yaml -f docker-compose.application-data-import.yaml up`

version: "3"

services:
  import_service:
    image: us-docker.pkg.dev/recidiviz-staging/appengine/default:latest
    volumes:
      - "./recidiviz:/app/recidiviz/"
      - "~/.config:/home/recidiviz/.config" # use user's credentials to access GCP APIs
      - insights_db_socket:/cloudsql/insights
    depends_on:
      - insights_db
    ports:
      - "5000:5000"
    command: uv run flask run -h 0.0.0.0
    environment:
      - FLASK_APP=/app/recidiviz/application_data_import/server.py
      - FLASK_ENV=development
      - IS_DEV=true
      - GOOGLE_CLOUD_PROJECT=recidiviz-staging
