# Defines services needed to run the Justice Counts Control Panel app (on top of shared services already in docker-compose.yaml)
# Run via `docker-compose -f docker-compose.yaml -f docker-compose.prototypes.yaml up`

version: "3"

services:
  prototypes_backend:
    image: us-central1-docker.pkg.dev/recidiviz-staging/prototypes/main:latest
    volumes:
      - "./recidiviz:/app/recidiviz/"
      - "~/.config:/home/recidiviz/.config" # use user's credentials to access GCP APIs
      - workflows_db_socket:/cloudsql/workflows
    depends_on:
      - workflows_db
    ports:
      - "8080:8080"
    command: uv run hypercorn recidiviz.prototypes.app:app --bind 0.0.0.0:8080 --reload
    working_dir: /app
    environment:
      - AUTH0_CLAIM_NAMESPACE=https://dashboard-staging.recidiviz.org
      - GOOGLE_CLOUD_PROJECT=recidiviz-staging
      - IS_DEV=true
