[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy-protobuf = "*"
"autopep8" = "*"
mock = "*"
pytest = "*"
pylint = "*"
pytest-cov = "*"
# TODO(#5596): Un-pin mypy
mypy = "<0.800"
coveralls = "*"
apache-beam = {extras = ["gcp", "test"],version = "*"}
freezegun = "*"
ipdb = "*"
nose = "*"
pytest-alembic = "*"
pipenv = "*"
typing-extensions = "*"
pygit2 = "*"
parameterized = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gspread = "*"

[packages]
jupyter = "*"
callee = "*"
"html5lib" = "*"
numpy = "*"
tabula-py = "==2.2.0"
us = "*"
dateparser = "==0.7.6"
# TODO(#2394): The gcsfs library is unsupported by Google - replace all usages with google-cloud-storage
gcsfs = "*"
pandas = "*"
more-itertools = "*"
lxml = "*"
opencensus = ">=0.7.0"
opencensus-context = "*"
opencensus-correlation = "*"
opencensus-ext-flask = "*"
opencensus-ext-google-cloud-clientlibs = "*"
opencensus-ext-grpc = "*"
opencensus-ext-requests = "*"
opencensus-ext-sqlalchemy = "*"
opencensus-ext-stackdriver = "*"
alembic = "*"
sqlalchemy = "*"
flask = "*"
Flask-SQLAlchemy-Session = "*"
iteration-utilities = "*"
"pypdf2" = "*"
pyyaml = "*"
# TODO(#4287): Upgrade google-cloud-* to 2.0.0 now that we have removed apache-airflow from our Pipfile
google-cloud-datastore = "<2.0.0"
google-cloud-tasks = "<2.0.0"
google-cloud-pubsub = "<2.0.0"
google-cloud-monitoring = "<2.0.0"
pyjwt = "*"
cssselect = "*"
grpcio = "*"
gunicorn = "*"
gevent = ">=20.5.1"
google-cloud-logging = "<2.0.0"
google-cloud-trace = "<2.0.0"
wrapt = "*"
attrs = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"
google-api-core = "*"
# If the protobuf version changes be sure to update the pinned version in setup.py
protobuf = "*"
"psycopg2" = "*"
cryptography = "*"
uszipcode = "*"
google-cloud-bigquery = "*"
google-api-python-client = "*"
google-auth = "*"
deepdiff = "*"
"mmh3" = "*"
aenum = "*"
yq = "*"
oauth2client = "*"
google-cloud-storage = "<2.0.0"
progress="*"
google-cloud-secret-manager = "<2.0.0"
pandas-gbq = "*"
google-cloud-bigquery-storage = "*"
guppy3 = "*"
sendgrid = "*"
zope = {event = "*"}
psutil = "*"
psycogreen = "*"
# Pinned to the latest version supported by GCP.
# TODO(#4287): Revisit this when we update apache-airflow.
# This is pulled in from apache-airflow -> flask-appbuilder. marshmallow-sqlalchemy==0.24.0 drops support for
# marshmallow~=2, but flask-appbuilder does not yet support marshmallow~=3, so we pin marshmallow-sqlalchemy back
# instead.
marshmallow-sqlalchemy = "<0.24.0"
# TODO(#5628): Un-pin cattrs
cattrs = "<1.2.0"
# If the dill version changes be sure to update the pinned version in setup.py
dill = "*"
matplotlib = "*"
pandas_gbq = "*"
scipy = "*"
seaborn = "*"
sklearn = "*"
# TODO(#4517): Revisit when we update ARIMA/statsmodels
statsmodels = "==0.11.1"
openpyxl = "*"

[requires]
python_version = "3.7"
