[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy-protobuf = "*"
"autopep8" = "*"
mock = "*"
pytest = "*"
pylint = "*"
pytest-cov = "*"
mypy = "*"
coveralls = "*"
# This should always be pinned to the latest version officially supported by Dataflow: https://cloud.google.com/dataflow/docs/support/sdk-version-support-status#python
apache-beam = {extras = ["gcp", "test"],version = "<=2.27.0"}
fakeredis = "*"
freezegun = "*"
ipdb = "*"
pytest-alembic = "*"
pipenv = "*"
pygit2 = "*"
parameterized = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gspread = "*"
pytablewriter = "*"
# Note: Update the `black` version in `.pre-commit-config.yaml` whenever this is updated.
# If we remove the restriction, then add `pre-commit autoupdate` to the Pipenv Github action to keep them in sync.
black = "==20.8b1"
pre-commit = "*"
pygtrie = "*"
types-dateparser = "*"
types-flask = "*"
types-freezegun = "*"
types-mock = "*"
types-paramiko = "*"
types-protobuf = "*"
types-python-dateutil = "*"
types-pytz = "*"
types-requests = "*"
types-PyYAML = "*"

[packages]
jupyter = "*"
callee = "*"
"html5lib" = "*"
numpy = "*"
tabula-py = "==2.2.0"
us = "*"
dateparser = "==0.7.6"
# TODO(#2394): The gcsfs library is unsupported by Google - replace all usages with google-cloud-storage
# TODO(#7480): Upgrading to 2021.5.0 caused our tests to break, so if we can't eliminate usages, we should
# at least try to fix the broken tests and unpin.
gcsfs = "==2021.4.0"
pandas = "*"
more-itertools = "*"
lxml = "*"
opencensus = ">=0.7.0"
opencensus-context = "*"
opencensus-correlation = "*"
opencensus-ext-flask = "*"
opencensus-ext-google-cloud-clientlibs = "*"
opencensus-ext-grpc = "*"
opencensus-ext-requests = "*"
opencensus-ext-sqlalchemy = "*"
opencensus-ext-stackdriver = "*"
alembic = "*"
sqlalchemy = "*"
flask = "*"
Flask-SQLAlchemy-Session = "*"
Flask-WTF = "*"
iteration-utilities = "*"
"pypdf2" = "*"
pyyaml = "*"
# TODO(#4287): Upgrade google-cloud-* to 2.0.0 now that we have removed apache-airflow from our Pipfile
google-cloud-datastore = "<2.0.0"
google-cloud-tasks = "<2.0.0"
google-cloud-pubsub = "<2.0.0"
google-cloud-monitoring = "<2.0.0"
pyjwt = "*"
cssselect = "*"
grpcio = "*"
gunicorn = "*"
gevent = ">=20.5.1"
google-cloud-logging = "<2.0.0"
google-cloud-trace = "<2.0.0"
wrapt = "*"
attrs = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"
google-api-core = "*"
# If the protobuf version changes be sure to update the pinned version in setup.py
protobuf = "*"
"psycopg2" = "*"
cryptography = "*"
google-cloud-bigquery = "*"
# TODO(#4287): Versions >= 3.0.0 create namespace conflicts with other cloud libraries
#  (and resulting mypy errors). We should revisit upgrade when we've updated all
#  google-cloud* libraries to >= 2.0.0.
google-cloud-bigquery-datatransfer = "<3.0.0"
google-api-python-client = "*"
google-auth = "*"
deepdiff = "*"
"mmh3" = "*"
aenum = "*"
yq = "*"
oauth2client = "*" #TODO(#2922): Remove deprecated oauth2client dependency
google-cloud-storage = "<2.0.0"
progress="*"
google-cloud-secret-manager = "<2.0.0"
pandas-gbq = "*"
google-cloud-bigquery-storage = "*"
guppy3 = "*"
sendgrid = "*"
zope = {event = "*"}
psutil = "*"
psycogreen = "*"
marshmallow = "*"
marshmallow_enum = "*"
cattrs = "*"
# If the dill version changes be sure to update the pinned version in setup.py
dill = "*"
matplotlib = "*"
pandas_gbq = "*"
scipy = "*"
seaborn = "*"
sklearn = "*"
# TODO(#4517): Revisit when we update ARIMA/statsmodels
statsmodels = "==0.11.1"
openpyxl = "*"
pysftp = "*"
analytics-python = "*"
astroid = "*"
redis = "*"
pyarrow = "*"
auth0-python = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
blinker = "*"

[requires]
python_version = "3.8"
