[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy-protobuf = "*"
"autopep8" = "*"
mock = "*"
pytest = "*"
pylint = "*"
pytest-cov = "*"
mypy = "*"
coveralls = "*"
apache-beam = {extras = ["gcp", "test"],version = "*"}
freezegun = "*"
ipdb = "*"
nose = "*"
pytest-alembic = "*"

[packages]
callee = "*"
"html5lib" = "*"
numpy = "*"
tabula-py = "==1.3.1"
us = "*"
dateparser = "==0.7.6"
# TODO(#2394): The gcsfs library is unsupported by Google - replace all usages with google-cloud-storage
gcsfs = "*"
pandas = "*"
more-itertools = "*"
lxml = "*"
opencensus = ">=0.7.0"
opencensus-context = "*"
opencensus-correlation = "*"
opencensus-ext-flask = "*"
opencensus-ext-google-cloud-clientlibs = "*"
opencensus-ext-grpc = "*"
opencensus-ext-requests = "*"
opencensus-ext-sqlalchemy = "*"
opencensus-ext-stackdriver = "*"
alembic = "*"
sqlalchemy = "*"
flask = "*"
iteration-utilities = "*"
"pypdf2" = "*"
pyyaml = "*"
# TODO(#4287): Upgrade google-cloud-* to 2.0.0 once permitted by apache-airflow
google-cloud-datastore = "<2.0.0"
google-cloud-tasks = "<2.0.0"
google-cloud-pubsub = "<2.0.0"
google-cloud-monitoring = "<2.0.0"
pyjwt = "*"
cssselect = "*"
grpcio = "*"
gunicorn = "*"
gevent = ">=20.5.1"
google-cloud-logging = "<2.0.0"
google-cloud-trace = "<2.0.0"
wrapt = "*"
attrs = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"
google-api-core = "*"
# If the protobuf version changes be sure to update the pinned version in setup.py
protobuf = "*"
"psycopg2" = "*"
cryptography = "*"
xlrd = "*"
uszipcode = "*"
google-cloud-bigquery = "<2.0.0"
google-api-python-client = "*"
google-auth = "*"
deepdiff = "*"
"mmh3" = "*"
aenum = "*"
yq = "*"
oauth2client = "*"
google-cloud-storage = "<2.0.0"
progress="*"
google-cloud-secret-manager = "<2.0.0"
pandas-gbq = "*"
google-cloud-bigquery-storage = "<2.0.0"
guppy3 = "*"
sendgrid = "*"
zope = {event = "*"}
psutil = "*"
psycogreen = "*"
# Pinned to the latest version supported by GCP.
apache-airflow = {extras = ["gcp"],version = "==1.10.12"}
# TODO(#4287): Revisit this when we update apache-airflow.
# This is pulled in from apache-airflow -> flask-appbuilder. marshmallow-sqlalchemy==0.24.0 drops support for
# marshmallow~=2, but flask-appbuilder does not yet support marshmallow~=3, so we pin marshmallow-sqlalchemy back
# instead.
marshmallow-sqlalchemy = "<0.24.0"
# TODO(#4287): Revisit this when we update apache-airflow.
# apache-airflow requires attrs~=19.3 and cattrs~=1, but cattrs>=1.1.0 no longer supports that version, so pin back cattrs.
cattrs = "==1.0.0"
# If the dill version changes be sure to update the pinned version in setup.py
dill = "*"
matplotlib = "*"
pandas_gbq = "*"
scipy = "*"
seaborn = "*"
sklearn = "*"
# TODO(#4517): Revisit when we update ARIMA/statsmodels
statsmodels = "==0.11.1"

[requires]
python_version = "3.7"
