
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest="*"
pylint="*"
more-itertools = "*"
mypy="*"
black = "*"
freezegun = "*"

[packages]
# We pin all dependencies to make sure they remain on versions supported by our current 
# Cloud Composer environment. We must manually update the dependencies when we update 
# our Cloud Composer version. https://cloud.google.com/composer/docs/concepts/versioning/composer-versions
alembic= "==1.8.1"
anyio= "==3.6.2"
apache-airflow= "==2.5.1"
apache-airflow-providers-apache-beam= "==4.1.0"
apache-airflow-providers-cncf-kubernetes= "==6.1.0"
apache-airflow-providers-ftp= "==3.3.1"
apache-airflow-providers-google= "==8.6.0"
apache-airflow-providers-http= "==4.1.0"
apache-airflow-providers-imap= "==3.1.0"
apache-airflow-providers-sqlite= "==3.3.1"
apache-airflow-providers-sftp= "==4.2.4"
apache-airflow-providers-mysql= "==5.0.0"
apache-airflow-providers-postgres= "==5.4.0"
apache-airflow-providers-sendgrid= "==3.1.0"
apache-beam= "==2.43.0"
apispec= "==3.3.2"
attrs= "==22.1.0"
Babel= "==2.11.0"
blinker= "==1.5"
cachetools= "==5.2.0"
cattrs= "==22.2.0"
certifi= "==2022.9.24"
cffi= "==1.15.1"
charset-normalizer= "==2.1.1"
click= "==8.1.3"
clickclick= "==20.10.2"
cloudpickle= "==2.2.0"
colorama= "==0.4.5"
colorlog= "==4.8.0"
commonmark= "==0.9.1"
crcmod= "==1.7"
croniter= "==1.3.7"
cryptography= "==36.0.2"
dateparser= "==1.1.8"
defusedxml= "==0.7.1"
dill= "==0.3.1.1"
distlib= "==0.3.6"
dnspython= "==2.2.1"
docopt= "==0.6.2"
docutils= "==0.19"
email-validator= "==1.3.0"
fastavro= "==1.7.0"
filelock= "==3.8.0"
Flask= "==2.2.2"
Flask-AppBuilder= "==4.1.4"
Flask-Babel= "==2.0.0"
Flask-Caching= "==2.0.1"
Flask-JWT-Extended= "==4.4.4"
Flask-Login= "==0.6.2"
Flask-OpenID= "==1.3.0"
Flask-SQLAlchemy= "==2.5.1"
Flask-WTF= "==1.0.1"
future= "==0.18.2"
google-ads= "==18.0.0"
google-api-core= "==2.8.1"
google-api-python-client= "==1.12.11"
google-auth= "==2.15.0"
google-auth-httplib2= "==0.1.0"
google-auth-oauthlib= "==0.4.6"
google-cloud-aiplatform= "==1.16.1"
google-cloud-appengine-logging= "==1.1.3"
google-cloud-audit-log= "==0.2.4"
google-cloud-automl= "==2.8.0"
google-cloud-bigquery= "==2.34.4"
google-cloud-bigquery-datatransfer= "==3.7.0"
google-cloud-bigquery-storage= "==2.14.1"
google-cloud-bigtable= "==1.7.3"
google-cloud-build= "==3.9.0"
google-cloud-container= "==2.11.1"
google-cloud-core= "==2.3.2"
google-cloud-datacatalog= "==3.9.0"
google-cloud-dataproc= "==5.0.0"
google-cloud-dataproc-metastore= "==1.6.0"
google-cloud-dlp= "==1.0.2"
google-cloud-kms= "==2.12.0"
google-cloud-language= "==1.3.2"
google-cloud-logging= "==3.2.1"
google-cloud-memcache= "==1.4.1"
google-cloud-monitoring= "==2.11.0"
google-cloud-orchestration-airflow= "==1.4.1"
google-cloud-os-login= "==2.7.1"
google-cloud-pubsub= "==2.13.4"
google-cloud-redis= "==2.9.0"
google-cloud-secret-manager= "==1.0.2"
google-cloud-spanner= "==1.19.3"
google-cloud-speech= "==1.3.4"
google-cloud-storage= "==2.7.0"
google-cloud-tasks= "==2.10.1"
google-cloud-texttospeech= "==1.0.3"
google-cloud-translate= "==1.7.2"
google-cloud-videointelligence= "==1.16.3"
google-cloud-vision= "==1.0.2"
google-cloud-workflows= "==1.7.1"
google-crc32c= "==1.5.0"
google-resumable-media= "==2.4.0"
googleapis-common-protos= "==1.56.4"
graphviz= "==0.20.1"
greenlet= "==2.0.1"
grpc-google-iam-v1= "==0.12.4"
grpcio= "==1.51.1"
grpcio-gcp= "==0.2.2"
grpcio-status= "==1.47.0"
gunicorn= "==20.1.0"
h11= "==0.12.0"
hdfs= "==2.7.0"
httpcore= "==0.15.0"
httplib2= "==0.20.4"
httpx= "==0.23.0"
idna= "==3.4"
importlib-metadata= "==5.0.0"
importlib-resources= "==5.10.0"
inflection= "==0.5.1"
iso8601= "==1.0.2"
itsdangerous= "==2.1.2"
Jinja2= "==3.1.2"
json-merge-patch= "==0.2"
jsonschema= "==3.2.0"
lazy-object-proxy= "==1.8.0"
lockfile= "==0.12.2"
Mako= "==1.2.3"
Markdown= "==3.4.1"
MarkupSafe= "==2.1.1"
marshmallow= "==3.18.0"
marshmallow-enum= "==1.5.1"
marshmallow-oneofschema= "==3.0.1"
marshmallow-sqlalchemy= "==0.26.1"
nox= "==2020.12.31"
numpy= "==1.22.4"
oauth2client= "==4.1.3"
oauthlib= "==3.2.2"
openapi-schema-validator= "==0.1.5"
openapi-spec-validator= "==0.3.1"
orjson= "==3.8.3"
packaging= "==21.3"
pandas= "==1.5.1"
pandas-gbq= "==0.17.9"
pendulum= "==2.1.2"
prison= "==0.2.1"
proto-plus= "==1.19.6"
protobuf= "==3.20.0"
psutil= "==5.9.4"
py= "==1.11.0"
pyarrow= "==9.0.0"
pyasn1= "==0.4.8"
pyasn1-modules= "==0.2.8"
pycparser= "==2.21"
pydata-google-auth= "==1.4.0"
pydot= "==1.4.2"
Pygments= "==2.13.0"
PyJWT= "==2.6.0"
pymongo= "==3.13.0"
pyOpenSSL= "==22.0.0"
pyparsing= "==3.0.9"
pyrsistent= "==0.19.2"
psycopg2= "==2.9.5"
python-daemon= "==2.3.2"
python-dateutil= "==2.8.2"
python-Levenshtein= "==0.21.0"
python-nvd3= "==0.15.0"
python-slugify= "==6.1.2"
python3-openid= "==3.2.0"
pytz= "==2022.6"
pytzdata= "==2020.1"
PyYAML= "==6.0"
requests= "==2.28.1"
requests-oauthlib= "==1.3.1"
rfc3986= "==1.5.0"
rich= "==12.6.0"
rsa= "==4.9"
setproctitle= "==1.3.2"
six= "==1.16.0"
sniffio= "==1.3.0"
SQLAlchemy= "==1.4.40"
sqlalchemy-bigquery= "==1.5.0"
SQLAlchemy-JSONField= "==1.0.0"
SQLAlchemy-Utils= "==0.38.3"
swagger-ui-bundle= "==0.0.9"
tabulate= "==0.9.0"
tenacity= "==8.1.0"
termcolor= "==2.1.0"
text-unidecode= "==1.3"
typing-extensions= "==4.4.0"
unicodecsv= "==0.14.1"
uritemplate= "==3.0.1"
urllib3= "==1.26.12"
us = "==2.0.2"
vine= "==5.0.0"
virtualenv= "==20.16.6"
Werkzeug= "==2.2.2"
WTForms= "==3.0.1"
zipp= "==3.10.0"

[requires]
python_version = "3.9"
