Hi {{ officer_given_name }},

I’m Serena, a Product Manager at Recidiviz working on tools for {{ l10n.parole_agents }}. {{ l10n.partnership }}. One of the things we’re doing is building alerts and reports to help make your jobs easier.

{% if overdue_discharges %}
As we look through the data, we found these clients may be overdue for discharge this week because their {{ l10n.expiration_date }} has passed.

{% for overdue_discharge in overdue_discharges %}
{{ overdue_discharge.full_name }} ({{ overdue_discharge.person_external_id }}), expiration date on {{ overdue_discharge.expiration_date }}
{% endfor %}
{% endif %}

{% if upcoming_discharges %}
Here are a few clients who have an expiration date in the next 60 days that you can check to make sure their requirements are complete:

{% for upcoming_discharge in upcoming_discharges %}
{{ upcoming_discharge.full_name }} ({{ upcoming_discharge.person_external_id }}), expiration date on {{ upcoming_discharge.expiration_date }}
{% endfor %}
{% endif %}

We are in an early development phase and want to make sure we get the data right, so if any of the information I mentioned looks incorrect, or there’s a valid reason why these folks would still be on supervision past their {{ l10n.expiration_date }}, please let us know in this form!

If there are other types of things you’d be interested in being alerted about in the future (for example, when a client might be eligible for [something]), let us know.

Thanks!
Serena
