# Configuration for which validations to run for region US_ND.

region_code: US_ND
exclusions:
  - validation_name: overlapping_supervision_periods
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: ND ingest constructs one supervision period per supervision sentence - we expect supervision
      periods to overlap
  - validation_name: case_termination_by_type_comparison_absconsions
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: This validation is currently being used for the PO monthly report, and currently, we do not support
      the PO monthly report for ND.
  - validation_name: case_termination_by_type_comparison_discharges
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: This validation is currently being used for the PO monthly report, and currently, we do not support
      the PO monthly report for ND.
max_allowed_error_overrides:
  - validation_name: incarceration_population_by_facility_external_comparison
    hard_max_allowed_error_override: 0.05
    override_reason: Given the very small size of some facilities in ND, this is actually a very strict threshold and we
      likely will not be able to do better. We're also already checking facility accuracy over the whole population with
      incarceration_population_person_level_external_comparison_matching_people validation.
  - validation_name: supervision_success_by_month_dashboard_comparison_completion
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation.
  - validation_name: supervision_success_by_period_dashboard_comparison_completion
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation.
  - validation_name: supervision_success_by_period_dashboard_comparison_termination
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation.
num_allowed_rows_overrides:
  - validation_name: overlapping_incarceration_periods
    hard_num_allowed_rows_override: 550
    override_reason: TODO(#5803) - Needs investigation. Likely related to shifting IP
      external ids / not handling object deletion properly.
  - validation_name: incarceration_admission_after_open_period
    hard_num_allowed_rows_override: 250
    override_reason: TODO(#5803) - Needs investigation.
  - validation_name: invalid_admission_reason_and_pfi
    hard_num_allowed_rows_override: 10
    override_reason: TODO(#3723) - As of 12/07/2021 there are 4 REVOCATION admission to
      OOS (out of state) which maps to INTERNAL_UNKNOWN PFI. This should be fixed when
      we have a comprehensive fix for handling OOS in ND.
  - validation_name: incarceration_release_prior_to_admission
    hard_num_allowed_rows_override: 20
    override_reason: TODO(#5803) - Needs investigation. Likely related to shifting IP
      external ids / not handling object deletion properly.
  - validation_name: incarceration_admission_nulls
    hard_num_allowed_rows_override: 1500
    override_reason: TODO(#5803) - Needs investigation.
  - validation_name: supervision_termination_reason_no_date
    hard_num_allowed_rows_override: 1
    override_reason: TODO(#5803) - Needs investigation.
  - validation_name: supervision_termination_prior_to_start
    hard_num_allowed_rows_override: 300
    override_reason: TODO(#5803) - Needs investigation.
