# Configuration for which validations to run for region US_ME.

region_code: US_ME
dev_mode: False
exclusions:
  - validation_name: sentence_comparison
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: TODO(#28864) Hydrate new sentencing entities
  - validation_name: case_insights_rates_missing_charges
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: Sentencing assistance case insights are not configured/launched for this state
max_allowed_error_overrides:
  - validation_name: supervision_population_person_level_external_comparison_matching_people_supervising_officer
    hard_max_allowed_error_override: 0.035
    override_reason: >-
      Likely won't get to this super soon, but would like the validation to fail again
      if this increases. Actually fixing the underlying issue being tracked here
      TODO(#39347)
  - validation_name: state_supervision_violation_response_by_response_date_stable_counts
    hard_max_allowed_error_override: 0.45
    override_reason: >-
      I think this is just typical variation. See #23399 for more info.
  - validation_name: state_supervision_violation_by_violation_date_stable_counts
    hard_max_allowed_error_override: 0.45
    override_reason: >-
      I think this is just typical variation.
  - validation_name: state_supervision_period_by_start_date_stable_counts
    hard_max_allowed_error_override: 0.50
    override_reason: >-
      I think this is just typical variation.
  - validation_name: state_supervision_period_by_termination_date_stable_counts
    hard_max_allowed_error_override: 0.50
    override_reason: >-
      I think this is just typical variation.
  - validation_name: state_incarceration_period_by_admission_date_stable_counts
    hard_max_allowed_error_override: 0.44
    override_reason: >-
      I think this is just typical variation -- but I'd still like to investigate this
      if I ever get the chance.
  - validation_name: state_incarceration_period_by_release_date_stable_counts
    hard_max_allowed_error_override: 0.44
    override_reason: >-
      I think this is just typical variation -- but I'd still like to investigate this
      if I ever get the chance.
  - validation_name: incarceration_population_person_level_external_comparison
    hard_max_allowed_error_override: 0.04
    override_reason: >-
      P2 we generally seem to be overcounting by a bit, so not so worried that we're
      missing people. TODO(#19918)
  - validation_name: supervision_termination_person_level_external_comparison
    hard_max_allowed_error_override: 0.65
    override_reason: >-
      P2 Making noise and not currently relevant to any of our prodcuts.
  - validation_name: supervision_population_person_level_external_comparison_matching_people_district
    hard_max_allowed_error_override: 1.00
    override_reason: >-
      P2 I think this is may be a simple mapping error with what we consider districts
      internally and externally.
  - validation_name: incarceration_release_person_level_external_comparison
    hard_max_allowed_error_override: 0.3
    override_reason: >-
      P2 Not relevant to currently launched products
  - validation_name: incarceration_population_by_facility_external_comparison
    hard_max_allowed_error_override: 0.10
    override_reason: >-
      P2 Not relevant to currently launched products
  - validation_name: officer_monthly_usage_report_vs_impact_report_registered_users_supervision
    hard_max_allowed_error_override: 0.30
    override_reason: >-
      Needs investigation before launching Usage by User report for ME. Worst failing row as of 1/20/25 is 20%.
      #TODO(#37570)
  - validation_name: officer_monthly_usage_report_vs_impact_report_active_users_supervision
    hard_max_allowed_error_override: 0.10
    override_reason: >-
      Needs investigation before launching Usage by User report for ME. Worst failing row as of 3/26/25 is 5.3%.
      #TODO(#37570)
num_allowed_rows_overrides:
  - validation_name: session_new_admissions_with_no_sentence_date_imposed
    hard_num_allowed_rows_override: 60000
    override_reason: >-
      Needs investigation.  Current failing level as of 10/26 is 49,776 rows
      #TODO(#16225)
  - validation_name: session_liberty_releases_with_no_sentence_completion_date
    hard_num_allowed_rows_override: 40000
    override_reason: >-
      Needs investigation.  Current failing level as of 10/26 is 32,531 rows
      #TODO(#16233)
  - validation_name: sentences_undefined_relationship
    hard_num_allowed_rows_override: 150
    override_reason: >-
      Needs investigation. Current failing level as of 2/24/23 is 62 rows #TODO(#19047)
  - validation_name: overlapping_supervision_periods
    hard_num_allowed_rows_override: 26000
    override_reason: >-
      TODO(#38842) P1 Not relevant to any of our products currently as we mostly care
      about just having an accurate population count (which we can see from
      supervision_population_person_level_external_comparison we do), though concerning.
  - validation_name: invalid_release_reasons_for_temporary_custody
    hard_num_allowed_rows_override: 5
    override_reason: >-
      P2 Not relevant to currently launched products TODO(#18831)
  - validation_name: invalid_admission_reasons_for_temporary_custody
    hard_num_allowed_rows_override: 50
    override_reason: >-
      P2 Not relevant to currently launched products. TODO(#18829)
  - validation_name: invalid_admission_reason_and_pfi
    hard_num_allowed_rows_override: 2350
    override_reason: >-
      TODO(#35461) Need to investigate and fix, but I think it should be easy-ish. P1.
  - validation_name: admission_pfi_pop_pfi_mismatch
    hard_num_allowed_rows_override: 75
    override_reason: >-
      P2 Not relevant to currently launched products
  - validation_name: normalized_state_charge_missing_uniform_offense_labels
    hard_num_allowed_rows_override: 200
    override_reason: Current level as of 3/11/2024 is 108 rows TODO(#26948)
  - validation_name: sessions_missing_closest_sentence_imposed_group
    hard_num_allowed_rows_override: 3000
    override_reason: Current failing level as of 4/20/23 is 2,129 rows (1.8%)
