{% extends "common/container.html.jinja2" %}

{% import 'common/components.html.jinja2' as components with context %}

{% block children %}
{% include "top_opportunities/top_opps_section.html.jinja2" %}
{% endblock children %}
