<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
{% include "common/html_header.html.jinja2" %}
</head>

<body class="em_body em_dm_grey" style="margin:0px auto; padding:0px;" bgcolor="#F2F4F4">
{% include "common/message_body.html.jinja2" %}
  <!-- == Body Section == -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="em_full_wrap em_dm_grey" bgcolor="#F2F4F4"
    style="table-layout:fixed;">
    <tr>
      <td align="center" valign="top">
        <table align="center" width="632" border="0" cellspacing="0" cellpadding="0" class="em_main_table"
          style="width:632px; table-layout:fixed;">
          <!-- Banner section -->
          <tr>
            <td valign="top" align="center">
              <table align="center" width="632" border="0" cellspacing="0" cellpadding="0" class="em_wrapper"
                style="width:632px;">
                <tr>
                  <td class="em_side8" width="16" style="width: 16px;">&nbsp;</td>
                  <td valign="top" align="center">
                    <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="em_wrapper"
                      style="width:600px;">
                      <tr>
                        <td valign="top" align="center">
                          <table align="center" width="600" border="0" cellspacing="0" cellpadding="0"
                            class="em_wrapper" style="width:600px;">
                            {% if mismatches['high_downgrades'] -%}
                            <tr>
                              <td class="em_heading em_dm_txt_white" valign="top" align="left" colspan="3"
                                style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 24px; line-height: 24px; font-weight: 500; color: #00413E; letter-spacing: -0.16px;">
                                Highs who should be downgraded
                              </td>
                            </tr>
                            <tr>
                              <td class="em_h10" height="24" style="height: 24px;">&nbsp;</td>
                            </tr>
                            {% for mismatch in mismatches['high_downgrades'] -%}
                            <tr>
                              <td class="em_line" height="24"
                                style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 16px; line-height: 16px; font-weight: 500;">
                                {{ mismatch['name'] }} ({{ mismatch['person_external_id'] }})
                              </td>
                              <td class="em_line" height="24"
                                style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 16px; line-height: 16px; font-weight: 500;">
                                {% if mismatch['last_score'] %}{{ assessment_name }}&nbsp;Score: {{ mismatch['last_score'] }}{% endif %}
                              </td>
                              <td class="em_line" height="24"
                                style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 16px; line-height: 16px; font-weight: 500;">
                                {% if mismatch['last_assessment_date'] %}Last&nbsp;Assessed: {{ mismatch['last_assessment_date'] }}{% endif %}
                              </td>
                            </tr>
                            {% endfor -%}
                            <tr>
                              <td class="em_h34" height="63" style="height: 63px;">&nbsp;</td>
                            </tr>
                            {% endif -%}
                            {% if mismatches['medium_downgrades'] -%}
                            <tr>
                              <td class="em_heading em_dm_txt_white" valign="top" align="left" colspan="3"
                                style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 24px; line-height: 24px; font-weight: 500; color: #00413E; letter-spacing: -0.16px;">
                                Mediums who should be downgraded
                              </td>
                            </tr>
                            <tr>
                              <td class="em_h10" height="24" style="height: 24px;">&nbsp;</td>
                            </tr>
                            {% for mismatch in mismatches['medium_downgrades'] -%}
                            <tr>
                              <td class="em_line" height="24"
                                style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 16px; line-height: 16px; font-weight: 500;">
                                {{ mismatch['name'] }} ({{ mismatch['person_external_id'] }})
                              </td>
                              <td class="em_line" height="24"
                                style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 16px; line-height: 16px; font-weight: 500;">
                                {% if mismatch['last_score'] %}{{ assessment_name }}&nbsp;Score: {{ mismatch['last_score'] }}{% endif %}
                              </td>
                              <td class="em_line" height="24"
                                style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 16px; line-height: 16px; font-weight: 500;">
                                {% if mismatch['last_assessment_date'] %}Last&nbsp;Assessed: {{ mismatch['last_assessment_date'] }}{% endif %}
                              </td>
                            </tr>
                            {% endfor -%}
                            <tr>
                              <td class="em_h34" height="63" style="height: 63px;">&nbsp;</td>
                            </tr>
                            {% endif -%}
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td class="em_side8" width="16" style="width: 16px;">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- == //Body Section == -->
  <!-- == Footer Section == -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#F2F4F4" class="em_full_wrap em_dm_grey">
    <tr>
      <td align="center" valign="top">
        <table align="center" width="632" border="0" cellspacing="0" cellpadding="0" class="em_main_table"
          style="width:632px; table-layout:fixed;">
          <tr>
            <td valign="top" align="center">
              <table align="center" width="632" border="0" cellspacing="0" cellpadding="0" class="em_wrapper"
                style="width:632px;">
                <tr>
                  <td class="em_side8" width="16" style="width: 16px;">&nbsp;</td>
                  <td valign="top" align="center">
                    <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="em_wrapper"
                      style="width:600px;">
                      <tr>
                        <td class="em_h50" height="82" style="height: 82px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="em_head_font em_dm_txt_white" valign="top" align="center"
                          style="font-family: 'Libre Franklin', Arial, sans-serif; font-weight: 500; font-size: 29px; line-height: 35px; letter-spacing: -0.01em; color: #00413E;">
                          Something not right?</td>
                      </tr>
                      <tr>
                        <td class="em_h10" height="20" style="height: 20px; font-size: 0px; line-height: 0px;">&nbsp;
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" align="center">
                          <table width="297" border="0" cellspacing="0" cellpadding="0" class="em_button"
                            bgcolor="#006C67" style="width: 297px; border-radius: 54px;">
                            <tr>
                              <td class="em_defaultlink em_cta" valign="middle" align="center" height="72"
                                style="height: 72px; font-family: 'Libre Franklin', Arial, sans-serif; font-weight: 500; font-size: 21px; line-height: 24px; letter-spacing: -0.01em; color: #E9EBEB;">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLScP3tfWGiRjAnrR0wUtbdY8NCb_Pm-UYF6uOy_gVtmHafWJsg/viewform"
                                  target="_blank"
                                  style="color: #E9EBEB; text-decoration: none; display: block; line-height: 72px;">
                                  Report an Issue
                                </a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="em_h42" height="88" style="height: 88px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="em_aside10" valign="top" align="center">
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td class="em_footer_logo" valign="top" align="center"
                                style="font-size: 0px; line-height: 0px;"><a href="https://www.recidiviz.org/"
                                  target="_blank" style="text-decoration: none;"><img
                                    src="{{ static_image_path }}/footer_logo.png" width="84" height="21" alt="recidiviz"
                                    border="0"
                                    style="display: block; font-family: Arial, sans-serif; font-size: 12px; line-height: 14px; color: #000000; max-width: 82px;" /></a>
                              </td>
                              <td class="em_side12" width="24" style="width: 24px;">&nbsp;</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="em_h28" height="56" style="height: 56px;">&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                  <td class="em_side8" width="16" style="width: 16px;">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="em_hide em_dm_grey" style="line-height:1px;min-width:632px;background-color:#F2F4F4;"><img alt=""
                src="{{ static_image_path }}/spacer.gif" height="1" width="632"
                style="max-height:1px; min-height:1px; display:block; width:632px; min-width:632px;" border="0" /></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- == //Footer Section == -->
</body>

</html>
