{% extends "common/layout.html.jinja2" %}

{% import "common/components.html.jinja2" as components %}

{% block body %}
{{ components.preview_text(message_body) }}
{% include "common/message_body.html.jinja2" %}
{% include "top_opportunities/body.html.jinja2" %}
{% include "top_opportunities/footer.html.jinja2" %}
{% endblock body %}
