{% extends "common/container.html.jinja2" %}

{% block children %}
<table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="em_wrapper"
style="width:600px;">
<tr>
    <td class="em_h50" height="82" style="height: 82px;">&nbsp;</td>
</tr>
<tr>
    <td class="em_head_font em_dm_txt_white" valign="top" align="center"
    style="font-family: 'Libre Franklin', Arial, sans-serif; font-weight: 500; font-size: 29px; line-height: 35px; letter-spacing: -0.01em; color: #00413E;">
    Something not right?</td>
</tr>
<tr>
    <td class="em_h10" height="20" style="height: 20px; font-size: 0px; line-height: 0px;">&nbsp;
    </td>
</tr>
<tr>
    <td valign="top" align="center">
    <table width="297" border="0" cellspacing="0" cellpadding="0" class="em_button"
        bgcolor="#006C67" style="width: 297px; border-radius: 54px;">
        <tr>
        <td class="em_defaultlink em_cta" valign="middle" align="center" height="72"
            style="height: 72px; font-family: 'Libre Franklin', Arial, sans-serif; font-weight: 500; font-size: 21px; line-height: 24px; letter-spacing: -0.01em; color: #E9EBEB;">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScP3tfWGiRjAnrR0wUtbdY8NCb_Pm-UYF6uOy_gVtmHafWJsg/viewform"
            target="_blank"
            style="color: #E9EBEB; text-decoration: none; display: block; line-height: 72px;">
            Report an Issue
            </a>
        </td>
        </tr>
    </table>
    </td>
</tr>
<tr>
    <td class="em_h42" height="88" style="height: 88px;">&nbsp;</td>
</tr>
<tr>
    <td class="em_aside10" valign="top" align="center">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td class="em_footer_logo" valign="top" align="center"
            style="font-size: 0px; line-height: 0px;"><a href="https://www.recidiviz.org/"
            target="_blank" style="text-decoration: none;"><img
                src="{{ static_image_path }}/footer_logo.png" width="84" height="21" alt="recidiviz"
                border="0"
                style="display: block; font-family: Arial, sans-serif; font-size: 12px; line-height: 14px; color: #000000; max-width: 82px;" /></a>
        </td>
        <td class="em_side12" width="24" style="width: 24px;">&nbsp;</td>
        </tr>
    </table>
    </td>
</tr>
<tr>
    <td class="em_h28" height="56" style="height: 56px;">&nbsp;</td>
</tr>
</table>
{% endblock children %}
