-i https://pypi.org/simple
requests==2.31.0
oauth2client==3.0.0 #TODO(#2922): Remove deprecated oauth2client dependency

google-api-python-client==2.127.0
google-auth==2.47.0
pyasn1>=0.6.2
google-cloud-storage==2.16.0
attrs==23.2.0
pytz==2024.1
functions-framework==3.6.0
cloudevents==1.10.1
us==3.1.1
