# Configuration for which validations to run for region US_UT.
region_code: US_UT
dev_mode: False
exclusions:
  - validation_name: session_new_admissions_with_no_sentence_date_imposed
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: UT is being hydrated only with v2 sentences
  - validation_name: sessions_missing_closest_sentence_imposed_group
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: UT is being hydrated only with v2 sentences
  - validation_name: session_liberty_releases_with_no_sentence_completion_date
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: UT is being hydrated only with v2 sentences
  - validation_name: case_insights_rates_missing_charges
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: Sentencing assistance case insights are not configured/launched for this state
max_allowed_error_overrides:
  - validation_name: incarceration_population_person_level_external_comparison_matching_people_facility
    hard_max_allowed_error_override: 0.025
    override_reason: |-
      A very small bump to accomodate the failure rate being 0.21% above the default threshold.
  - validation_name: incarceration_population_person_level_external_comparison
    hard_max_allowed_error_override: 0.04
    override_reason: |-
      Small bump until #42363 is addressed.
  - validation_name: supervision_population_person_level_external_comparison_matching_people_supervision_level
    hard_max_allowed_error_override: 0.025
    override_reason: |-
      A very small bump to accomodate the failure rate being 0.28% above the default threshold.
  - validation_name: supervision_population_person_level_external_comparison_matching_people_district
    hard_max_allowed_error_override: 0.4
    override_reason: |-
      Investigation needed. TODO(#42364)
num_allowed_rows_overrides:
  - validation_name: overlapping_supervision_periods
    hard_num_allowed_rows_override: 1000
    override_reason: To investigate (#37797)
  - validation_name: admission_pfi_pop_pfi_mismatch
    hard_num_allowed_rows_override: 2000
    override_reason: |-
      This is a small error that is expected because of the way revocations
      and shock incarcerations are tracked in the raw data. We can observe all of the 
      transitions and key details we need despite these 0-day periods having conflicting
      PFI values.
