{% extends "common/card.html.jinja2" %}

{% block children %}
{{ components.layout_table_start() }}
  <tr>
    {{ components.heading("View all opportunities<br />and tasks for your clients", align="center", size="md")}}
  </tr>
  {{ components.y_padding(24) }}
  <tr>
    <td align="center">
      {{ components.button("Go to app.recidiviz.org", "https://app.recidiviz.org", size="md", width=276) }}
    </td>
  </tr>
{{ components.layout_table_end() }}
{% endblock children %}