# Configuration for which validations to run for region US_PA.

region_code: US_PA
exclusions:
  - validation_name: supervision_population_person_level_external_comparison_matching_people_supervision_level
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: PA has not provided us with person-level validation data for supervision level
  - validation_name: supervision_population_person_level_external_comparison_matching_people_supervising_officer
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: PA has not provided us with person-level validation data for supervising officers
  # TODO(#7437): Adjust this once PO Monthly Report is fully launched.
  - validation_name: po_report_missing_fields
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: PA has not yet been launched for PO Monthly report, so we are excluding this currently. To be fixed in \#7437.
    
max_allowed_error_overrides:
  - validation_name: supervision_population_person_level_external_comparison
    hard_max_allowed_error_override: 0.05
    override_reason: PA external validation data was generated from snapshots at the time the population for a given
      month was measured. Over time, data gets backfilled as new info about what happened that month comes in, so our
      numbers will get "worse" as time goes on and we get more accurate data about movements.
  - validation_name: supervision_population_person_level_external_comparison_matching_people_district
    hard_max_allowed_error_override: 0.05
    soft_max_allowed_error_override: 0.01
    override_reason: Here we make the threshold stricter than the default of 0.02. TODO(#9738) - needs investigation.
  - validation_name: supervision_termination_person_level_external_comparison
    hard_max_allowed_error_override: 0.1
    override_reason: We have a slightly higher error rate (~3%) than we
      usually allow for our person-level supervision terminations comparison. This is
      due to a methodology discrepancy between ourselves and US_PA regarding counting a
      termination if a person continues to be on supervision after the "termination"
      date. There are some instances where US_PA counts a person as having a supervision
      termination on a date where the person actually continues on supervision (for
      another type of supervision). We are not counting these as terminations, causing
      the ~3% error rate.
  - validation_name: incarceration_admission_person_level_external_comparison
    hard_max_allowed_error_override: 0.05
    override_reason: Needs investigation.
  - validation_name: incarceration_population_person_level_external_comparison_matching_people_facility
    hard_max_allowed_error_override: 0.0353
    override_reason: Needs investigation.
  - validation_name: incarceration_population_person_level_external_comparison
    hard_max_allowed_error_override: 0.03
    override_reason: Needs investigation.
  - validation_name: incarceration_release_person_level_external_comparison
    hard_max_allowed_error_override: 0.2
    override_reason: Needs investigation.
  - validation_name: most_recent_assessment_date_by_person_by_state_comparison
    hard_max_allowed_error_override: 0.9
    override_reason: Needs investigation.
  - validation_name: most_recent_face_to_face_contact_date_by_person_by_state_comparison
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation. Failing 100% in production.
  - validation_name: most_recent_assessment_score_by_person_by_state_comparison
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation.
  - validation_name: revocations_by_period_dashboard_comparison
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation.
  - validation_name: supervision_success_by_month_dashboard_comparison_completion
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation.
  - validation_name: supervision_success_by_period_dashboard_comparison_completion
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation.
  - validation_name: supervision_success_by_period_dashboard_comparison_termination
    hard_max_allowed_error_override: 1.0
    override_reason: Needs investigation.
num_allowed_rows_overrides:
  - validation_name: incarceration_admission_after_open_period
    hard_num_allowed_rows_override: 900
    override_reason: There is a small amount of disagreement between the two data
      sources we pull data from to hydrate incarceration periods - CCIS tables and DOC
      tables. This value was 12 as of 3/5/2021 and we expect that it may slowly grow
      over time as new data is added. TODO(#9734) - need to investigate increase due to
      CCC ingest. TODO(#10681) - Rerun might also fix some of these.
  - validation_name: overlapping_incarceration_periods
    hard_num_allowed_rows_override: 150000
    override_reason: There is a small amount of disagreement between the two data
      sources we pull data from to hydrate incarceration periods - CCIS tables and DOC
      tables. This value was 133 as of 3/5/2021 and we expect that it may slowly grow
      over time as new data is added. TODO(#9736) - need to investgate CCC ingest overlaps
  - validation_name: incarceration_release_prior_to_admission
    hard_num_allowed_rows_override: 5
    override_reason: TODO(#9735) - needs investigation
  - validation_name: overlapping_supervision_periods
    hard_num_allowed_rows_override: 700
    override_reason: TODO(#6253), TODO(#10681)? - Likely a rare edge case related to ordering movements
      in the PA supervision_period ingest view. There are 95 of these as of 3/5/2021.
  - validation_name: supervision_termination_prior_to_start
    hard_num_allowed_rows_override: 50
    override_reason: TODO(#6254), TODO(#10681)? - Likely a rare edge case related to how the ingest
      view and entity matching handles cases where a supervision period is deleted.
      There are 12 of these as of 3/5/2021.
  - validation_name: supervision_period_dates_existence
    hard_num_allowed_rows_override: 1
    override_reason: There is one ingested supervision period that has empty
      date fields, evidenced at the ingest view layer as well.
  - validation_name: supervision_termination_reason_no_date
    hard_num_allowed_rows_override: 1
    override_reason: TODO(#9735) - needs investigation
  - validation_name: admission_pfi_pop_pfi_mismatch
    hard_num_allowed_rows_override: 4500
    override_reason: TODO(#10625), TODO(#10681)? - Need to be handled in IP pre-processing.
  - validation_name: multiple_supervision_info_for_commitment_admission
    hard_num_allowed_rows_override: 3
    override_reason: TODO(#10614), TODO(#10681)? - In the rare case where a person has multiple
      periods of parole board holds and multiple revocation admissions on the same day,
      we end up with more than one commitment from supervision admission with multiple
      different parole board hold periods (of different lengths) that preceed them,
      which can cause different dates to be used for identifying SPs associated with an
      admission.
