# Configuration for which validations to run for region US_PA.

region_code: US_PA
exclusions:
  - validation_name: case_insights_rates_missing_charges
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: Sentencing assistance case insights are not configured/launched for this state
  - validation_name: supervision_population_person_level_external_comparison_matching_people_supervision_level
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: PA has not provided us with person-level validation data for supervision level
  - validation_name: supervision_population_person_level_external_comparison_matching_people_supervising_officer
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: PA has not provided us with person-level validation data for supervising officers
  - validation_name: sentence_comparison
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: TODO(#28868) Hydrate new sentencing entities
  - validation_name: normalized_state_charge_missing_uniform_offense_labels
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: We currently don't use uniform charge descriptions for anything in PA. Fix when we do start using uniform descriptions. TODO(#37753)

max_allowed_error_overrides:
  - validation_name: supervision_population_person_level_external_comparison
    hard_max_allowed_error_override: 0.08
    override_reason:
      PA external validation data was generated from snapshots at the time the population for a given
      month was measured. Over time, data gets backfilled as new info about what happened that month comes in, so our
      numbers will get "worse" as time goes on and we get more accurate data about movements.  In addition, with the
      _v5 version of SP ingest, we made revisions that changed our definition of the supervision population which
      leads us to diverge more from the external validation data. See #31298
  - validation_name: supervision_population_person_level_external_comparison_matching_people_district
    hard_max_allowed_error_override: 0.05
    override_reason: TODO(#9738) - needs investigation.
  - validation_name: supervision_termination_person_level_external_comparison
    hard_max_allowed_error_override: 0.05
    override_reason: We have a slightly higher error rate (~3%) than we
      usually allow for our person-level supervision terminations comparison. This is
      due to a methodology discrepancy between ourselves and US_PA regarding counting a
      termination if a person continues to be on supervision after the "termination"
      date. There are some instances where US_PA counts a person as having a supervision
      termination on a date where the person actually continues on supervision (for
      another type of supervision). We are not counting these as terminations, causing
      the ~3% error rate.
  - validation_name: incarceration_admission_person_level_external_comparison
    hard_max_allowed_error_override: 0.06
    override_reason: Needs investigation. TODO(#27538)
  - validation_name: incarceration_population_person_level_external_comparison_matching_people_facility
    hard_max_allowed_error_override: 0.02
    override_reason: Needs investigation. TODO(#27537)
  - validation_name: incarceration_population_person_level_external_comparison
    hard_max_allowed_error_override: 0.03
    override_reason: Needs investigation. TODO(#27539)
  - validation_name: incarceration_release_person_level_external_comparison
    hard_max_allowed_error_override: 0.1
    override_reason: Needs investigation. TODO(#27540)
  - validation_name: state_supervision_violation_by_violation_date_stable_counts
    hard_max_allowed_error_override: 0.3
    override_reason: We're expecting .28 is standard variation.
  - validation_name: state_supervision_period_by_start_date_stable_counts
    hard_max_allowed_error_override: 0.3
    override_reason: Sometimes we see variation right above .25
  - validation_name: state_supervision_period_by_termination_date_stable_counts
    hard_max_allowed_error_override: 0.3
    override_reason: We're expecting .28 is standard variation.
  - validation_name: state_supervision_violation_response_by_response_date_stable_counts
    hard_max_allowed_error_override: 0.3
    override_reason: We're expecting .28 is standard variation.
  - validation_name: outliers_staff_count_percent_change_intramonth
    hard_max_allowed_error_override: 0.03
    override_reason: We're expecting .026 is standard variation.
  - validation_name: client_record_archive_duplicate_person_ids
    hard_max_allowed_error_override: 0.00004
    override_reason: TODO(#45221) - Delete duplicates introduced in staging by #42841
num_allowed_rows_overrides:
  - validation_name: overlapping_incarceration_periods
    hard_num_allowed_rows_override: 40000
    override_reason:
      There is a small amount of disagreement between the two data
      sources we pull data from to hydrate incarceration periods - CCIS tables and DOC
      tables. Current failing level as of 10/29/24 is 36,936 rows and we expect that it
      may slowly grow over time as new data is added.
      TODO(#9736) - need to investgate CCC ingest overlaps
  - validation_name: overlapping_supervision_periods
    hard_num_allowed_rows_override: 500
    override_reason: TODO(#6253)
      In the v5 version of SP ingest, overlapping periods are being created when a person has multiple ParoleNumbers.
      The number of overlapping periods is small (as of 10/29, there are only 334 cases)
  - validation_name: admission_pfi_pop_pfi_mismatch
    hard_num_allowed_rows_override: 5000
    override_reason:
      TODO(#10625) - Need to be handled in IP pre-processing. Rerun on 02/15/2022 did not improve these.
      Current failing level as of 2/13/24 is 4,368 rows.
  - validation_name: multiple_supervision_info_for_commitment_admission
    hard_num_allowed_rows_override: 5
    override_reason:
      TODO(#10614) - In the rare case where a person has multiple periods of parole
      board holds and multiple revocation admissions on the same day, we end up with
      more than one commitment from supervision admission with multiple different parole
      board hold periods (of different lengths) that preceed them, which can cause
      different dates to be used for identifying SPs associated with an admission.
  - validation_name: session_new_admissions_with_no_sentence_date_imposed
    hard_num_allowed_rows_override: 415000
    override_reason: Needs investigation.  Current failing level as of 2/13/24 is 394,749 rows #TODO(#16224)
  - validation_name: session_liberty_releases_with_no_sentence_completion_date
    hard_num_allowed_rows_override: 200000
    override_reason: Needs investigation.  Current failing level as of 2/13/24 is 186,044 rows #TODO(#16235)
  - validation_name: sentences_missing_date_imposed
    hard_num_allowed_rows_override: 120000
    override_reason: Needs investigation.  Current failing level as of 2/13/24 is 102,288 rows #TODO(#16435)
  - validation_name: normalized_state_charge_missing_descriptions
    hard_num_allowed_rows_override: 40000
    override_reason:
      Current failing level as of 10/29/24 is 31,859 rows.  This is largely due to charges that are
      getting ingested with almost all info missing.  We should re-evaluate this when we do the sentence refactor
      #TODO(#27541) #TODO(#29701)
  - validation_name: normalized_state_charge_missing_uniform_offense_labels
    hard_num_allowed_rows_override: 280000
    override_reason:
      Current failing level as of 12/10/24 is 270074 rows because we added a new source with open text charge descriptions.
      We currently don't use uniform offense labels so this is not a concern, and we plan to replace state charge ingest
      with a more complete data source once we receive Captor data. #TODO(#33154)
  - validation_name: sessions_missing_closest_sentence_imposed_group
    hard_num_allowed_rows_override: 180000
    override_reason: Current failing level as of 2/13/24 is 176,927 rows #TODO(#20404)
  - validation_name: in_custody_sps_have_associated_ip
    hard_num_allowed_rows_override: 80000
    override_reason:
      Current failing level as of 4/18/25 is 65026 rows in staging.
      For now, we are not inferring IPs for in custody periods until we can re-validate PA insights.
  - validation_name: officer_monthly_usage_report_actions_without_logins
    hard_num_allowed_rows_override: 1
    override_reason:
      There is some weird date logic issue for logins/actions on the border of a month change, and so the login
      gets attributed to one month and the action is attributed to the other month.
      Will be resolved with the Polaris segment ad blocker work around
