{% extends "common/container.html.jinja2" %}

{% block children %}
  {% include "top_opportunities/top_opps_section.html.jinja2" %}
  {% include "po_monthly_report/highlights.html.jinja2" %}
  {% include "po_monthly_report/outcomes.html.jinja2" %}
  {% include "po_monthly_report/key_tasks.html.jinja2" %}
  {% include "po_monthly_report/congrats.html.jinja2" %}
  {% include "po_monthly_report/faq.html.jinja2" %}
{% endblock children %}
