{% extends "common/container.html.jinja2" %}

{% block children %}
  {% include "po_monthly_report/positive_outcome_metrics/index.html.jinja2" %}
  {% include "po_monthly_report/adverse_outcome_metrics/index.html.jinja2" %}
  {% include "po_monthly_report/compliance/compliance.html.jinja2" %}
  {% include "po_monthly_report/congrats.html.jinja2" %}
  {% include "po_monthly_report/faq.html.jinja2" %}
{% endblock children %}
