<table align="center" width="600" border="0" cellspacing="0" cellpadding="0"
  class="em_wrapper" style="width:600px; display: {{ display_congratulations }};" role="presentation">
  <tr>
    <td class="em_h15" height="40" style="height: 40px;">&nbsp;</td>
  </tr>
  <tr>
    <td class="em_img" valign="top" align="center"><img
        src="{{ static_image_path }}/ic_case-completions.png" width="88" height="88" alt=" "
        border="0" style="display: block; max-width: 88px;" /></td>
  </tr>
  <tr>
    <td class="em_h10" height="16" style="height: 16px; font-size: 0px; line-height: 0px;">
      &nbsp;</td>
  </tr>
  <tr>
    <td class="em_head_font em_dm_txt_white" valign="top" align="center"
      style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 29px; line-height: 35px; color: #00413E; letter-spacing: -0.01em; font-weight: 500;">
      <span class="em_sp"
        style="background-color:transparent !important; color:#00413E !important;">Congratulations!</span>
    </td>
  </tr>
  <tr>
    <td class="em_h10" height="16" style="height: 16px; font-size: 0px; line-height: 0px;">
      &nbsp;</td>
  </tr>
  <tr>
    <td class="em_text em_dm_txt_white" valign="top" align="center"
      style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 24px; line-height: 36px; color: #00413E;">
      {{ congratulations_text }} </td>
  </tr>
  <tr>
    <td class="em_h50" height="87" style="height: 87px;">&nbsp;</td>
  </tr>
</table>
