{% extends "common/layout.html.jinja2" %}

{% import 'common/components.html.jinja2' as components with context %}

{% block body %}
  {{ components.preview_text(message_body) }}
  {% include "common/message_body.html.jinja2" %}
  {% include "po_monthly_report/body.html.jinja2" %}
  {% include "po_monthly_report/footer.html.jinja2" %}
{% endblock body %}
