{% import 'common/components.html.jinja2' as components %}

{% macro average_comparison_card(
    static_image_path,
    icon_image,
    event_label,
    event_count,
    change_color,
    net_change,
    event_count_color,
    district_average_color,
    district_average,
    state_average
) -%}
<tr>
    <td valign="top" align="center">
    <table align="center" width="600" border="0" cellspacing="0" cellpadding="0"
        class="em_wrapper em_dark em_border_radius" bgcolor="#ffffff"
        style="width:600px; border-radius: 5px;">
        <tr>
        <td valign="top" align="center">
            <table align="center" width="600" border="0" cellspacing="0" cellpadding="0"
            class="em_wrapper em_dark em_border_radius" bgcolor="#ffffff"
            style="width:600px; border-radius: 5px;">
            <tr>
                <td class="em_side15" width="32" style="width: 32px;">&nbsp;</td>
                <td valign="top" align="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    <td class="em_h15" height="32" style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                    <td valign="top" align="center">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="em_img" width="88" valign="top" align="left"><img
                                src="{{ static_image_path }}/{{ icon_image }}"
                                width="88" height="88" alt=" " border="0"
                                style="display: block; max-width: 88px;" /></td>
                            <td class="em_side15" width="26" style="width: 26px;">&nbsp;</td>
                            <td valign="top" align="left">
                            <table align="left" width="100%" border="0" cellspacing="0"
                                cellpadding="0">
                                <tr>
                                <td class="em_h4" height="8"
                                    style="height: 8px; font-size: 0px; line-height: 0px;">
                                    <img src="{{ static_image_path }}/spacer.gif" width="1"
                                    height="1" alt=" " border="0" style="display: block;" />
                                </td>
                                </tr>
                                <tr>
                                <td valign="top" align="left">
                                    <table width="100%" border="0" cellspacing="0"
                                    cellpadding="0">
                                    <tr>
                                        <td class="em_head_font em_dm_txt_white" valign="top"
                                        align="left"
                                        style="font-family: 'Libre Baskerville', 'Times New Roman', Times, serif; font-size: 29px; line-height: 34px; font-weight: 400; letter-spacing: -0.16px; color: #00413E;">
                                        {{ event_label }} </td>
                                        <td class="em_side" width="156" style="width: 156px;">
                                        &nbsp;</td>
                                        <td class="em_num_font em_dm_txt_white" valign="top"
                                        align="right"
                                        style="font-family: 'Libre Baskerville', 'Times New Roman', Times, serif; font-size: 48px; line-height: 48px; font-weight: 400; letter-spacing: -0.03em; color: #006C67;">
                                        {{ event_count }} </td>
                                    </tr>
                                    </table>
                                </td>
                                </tr>
                                {% if net_change != '' %}
                                <tr>
                                <td class="em_h4" height="21"
                                    style="height: 21px; font-size: 0px; line-height: 0px;">
                                    &nbsp;</td>
                                </tr>
                                <tr>
                                <td class="em_line" valign="top" align="left"
                                    style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 20px; line-height: 24px; font-weight: 600; color: {{ change_color }};">
                                    {{ net_change }} </td>
                                </tr>
                                {% endif %}
                            </table>
                            </td>
                        </tr>
                        </table>
                    </td>
                    </tr>
                    <tr>
                    <td class="em_h15" height="32" style="height: 32px;">&nbsp;</td>
                    </tr>
                </table>
                </td>
                <td class="em_side15" width="32" style="width: 32px;">&nbsp;</td>
            </tr>
            </table>
        </td>
        </tr>
        {{ components.card_divider() }}
        <tr>
        <td class="em_h18" height="32" style="height: 32px;">&nbsp;</td>
        </tr>
        <tr>
        <td valign="top" align="center">
            <table align="center" width="599" border="0" cellspacing="0" cellpadding="0"
            class="em_wrapper em_dark em_border_radius" bgcolor="#ffffff"
            style="width:599px; border-radius: 5px;">
            <tr>
                <td class="em_side1" width="84" style="width: 84px;">&nbsp;</td>
                <td valign="top" align="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    <td valign="top" align="center">
                        <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="em_num1 em_dm_txt_white" valign="top" align="center"
                            style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 32px; line-height: 38px; font-weight: 600; color: {{ event_count_color }}; letter-spacing: -0.01em;">
                            {{ event_count }}</td>
                        </tr>
                        <tr>
                            <td class="em_h4" height="8"
                            style="height: 8px; font-size: 0px; line-height: 0px;">&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="em_font" valign="top" align="center"
                            style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 20px; line-height: 24px; font-weight: 600; color: #7D9897;">
                            You </td>
                        </tr>
                        </table>
                    </td>
                    <td class="em_gap1" width="80" style="width: 80px;">&nbsp;</td>
                    <td valign="top" align="center">
                        <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="em_num1 em_dm_txt_white" valign="top" align="center"
                            style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 32px; line-height: 38px; font-weight: 600; color: {{ district_average_color }}; letter-spacing: -0.01em;">
                            {{ district_average }}</td>
                        </tr>
                        <tr>
                            <td class="em_h4" height="8"
                            style="height: 8px; font-size: 0px; line-height: 0px;">&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="em_font" valign="top" align="center"
                            style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 20px; line-height: 24px; font-weight: 600; color: #7D9897;">
                            District Average </td>
                        </tr>
                        </table>
                    </td>
                    <td class="em_gap2" width="58" style="width: 58px;">&nbsp;</td>
                    <td valign="top" align="center">
                        <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="em_num1 em_dm_txt_white" valign="top" align="center"
                            style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 32px; line-height: 38px; font-weight: 600; color: #00413E; letter-spacing: -0.01em;">
                            {{ state_average }}</td>
                        </tr>
                        <tr>
                            <td class="em_h4" height="8"
                            style="height: 8px; font-size: 0px; line-height: 0px;">&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="em_font" valign="top" align="center"
                            style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 20px; line-height: 24px; font-weight: 600; color: #7D9897;">
                            State Average </td>
                        </tr>
                        </table>
                    </td>
                    </tr>
                </table>
                </td>
                <td class="em_side2" width="40" style="width: 40px;">&nbsp;</td>
            </tr>
            </table>
        </td>
        </tr>
        <tr>
        <td class="em_h18" height="30" style="height: 30px;">&nbsp;</td>
        </tr>
    </table>
    </td>
</tr>
{%- endmacro %}
