{{components.layout_table_start()}}
  <tr>
    {{components.heading("Frequently Asked Questions", size="md")}}
  </tr>
  {{components.y_padding(24)}}
  {% for question in faq %}
  <tr>
    <td 
      class="FAQ__question em_dm_txt_white em_dm_border_30"
      style="
        {{brand_styles.fonts.sans_serif}}
        border-top: 1px solid #CDD2D0;
        font-size: 19px;
        padding: 24px 0;
        {% if loop.last %}border-bottom: 1px solid #CDD2D0;{% endif %}
      "
    >
      <a 
        target="_blank" 
        href="{{question.url}}" 
        style="color: #00413E; text-decoration: none;"
      >
        {{question.text}}
      </a>
    </td>
  </tr>
  {% endfor %}
  {{components.y_padding(40)}}
{{components.layout_table_end()}}
