{% extends "common/container.html.jinja2" %}

{% block children %}
{{components.layout_table_start()}}
  <tr>
    <td>
      {{components.button(
        "Give us feedback", 
        "https://docs.google.com/forms/d/e/1FAIpQLScP3tfWGiRjAnrR0wUtbdY8NCb_Pm-UYF6uOy_gVtmHafWJsg/viewform",
        kind="secondary",
        width=180,
        size="sm")}}
    </td>
    <td 
      valign="middle"
      style="text-align: right;">
        <a href="https://www.recidiviz.org/"
        target="_blank" style="text-decoration: none;">
          <div class="em_light_only">
            <img
              src="{{ static_image_path }}/footer_logo_v2.png" 
              {# this one is slightly larger to provide a light background 
                for clients that don't support CSS dark mode queries #}
              width="88" 
              height="28" 
              alt="Recidiviz"
              border="0"
            />
          </div>
          <div class="em_dark_only" style="display: none;">
            <img
              src="{{ static_image_path }}/dark/footer_logo_v2.png" 
              width="80" 
              height="20" 
              alt="Recidiviz"
              border="0"
            />
          </div>
      </a>
    </td>
  </tr>
  {{components.y_padding(100)}}
{{components.layout_table_end()}}
{% endblock children %}
