{% extends "common/container.html.jinja2" %}

{% block children %}
{{components.layout_table_start()}}
  <tr>
    <td>
      {{components.button(
        "Give us feedback", 
        "https://docs.google.com/forms/d/e/1FAIpQLScP3tfWGiRjAnrR0wUtbdY8NCb_Pm-UYF6uOy_gVtmHafWJsg/viewform",
        kind="secondary",
        width=180,
        size="sm")}}
    </td>
    <td valign="middle"
      style="text-align: right;">
        <a href="https://www.recidiviz.org/"
        target="_blank" style="text-decoration: none;">
          <img
            src="{{ static_image_path }}/footer_logo_v2.png" 
            width="80" 
            height="19" 
            alt="Recidiviz"
            border="0"
          />
      </a>
    </td>
  </tr>
  {{components.y_padding(100)}}
{{components.layout_table_end()}}
{% endblock children %}
