<h3>This is a reminder to upload the following metrics in <a href="{{ data_entry_url }}">Publisher</a>:</h3>

{% if system_to_missing_monthly_metrics|length > 0 %}     
    <h3> Monthly Metrics from {{ month_names[monthly_report_date_range[0].month] }}, {{ monthly_report_date_range[0].year}} </h3>
    <div style="margin-left: 30px">
        {% for system, missing_metrics in system_to_missing_monthly_metrics.items() %}
            {% if system_to_missing_monthly_metrics|length > 1 %}
                From the {{ system.value.split("_")|map('capitalize')|join(' ') }} sector:
            {% endif %}
            <ul>
                {% for missing_metric in missing_metrics %}
                    <li>{{ missing_metric.display_name }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endif %}

{% if date_range_to_system_to_missing_annual_metrics|length > 0 %}   
    {% for date_range, system_to_missing_annual_metrics in date_range_to_system_to_missing_annual_metrics.items() %}
        <h3> Annual Metrics from {{ month_names[date_range[0].month] }}, {{ date_range[0].year }} - {{ month_names[date_range[1].month]  }}, {{  date_range[1].year }} </h3>
        <div style="margin-left: 30px">
            {% for system, missing_annual_metrics in system_to_missing_annual_metrics.items() %}
                {% if system_to_missing_annual_metrics|length > 1 %}
                    From the {{ system.value.split("_")|map('capitalize')|join(' ') }} sector:
                {% endif %}
                <ul>
                    {% for missing_metric in missing_annual_metrics %}
                        <li>{{ missing_metric.display_name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %} 
