# Configuration for which validations to run for region US_AZ.
region_code: US_AZ
exclusions:
  - validation_name: session_new_admissions_with_no_sentence_date_imposed
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: AZ is being hydrated only with v2 sentences
  - validation_name: sessions_missing_closest_sentence_imposed_group
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: AZ is being hydrated only with v2 sentences
  - validation_name: session_liberty_releases_with_no_sentence_completion_date
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: AZ is being hydrated only with v2 sentences
  - validation_name: admission_pfi_pop_pfi_mismatch
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: |-
      Due to the way revocations are tracked in AZ, a high failure rate for this validation
      is expected. Sessions resolves these mismatches by logically collapsing zero-day periods,
      so this validation failing has no impact downstream.
  - validation_name: person_caseload_location_sessions_caseload
    exclusion_type: BROKEN
    exclusion_reason: Failing at 99%, will be addressed in #TODO(#33744)
  - validation_name: person_caseload_location_sessions_location
    exclusion_type: BROKEN
    exclusion_reason: Failing at 97%, will be addressed in #TODO(#33744)
max_allowed_error_overrides:
  - validation_name: incarceration_population_by_facility_external_comparison
    soft_max_allowed_error_override: 0.03
    hard_max_allowed_error_override: 0.20
    override_reason: Investigation needed. TODO(#30582)
  - validation_name: supervision_population_by_type_external_comparison
    hard_max_allowed_error_override: 0.11
    soft_max_allowed_error_override: 0.0502
    override_reason: |-
      5% is the tightest threshold the state thought we could get to given the quality
      of the raw data available. More recent months are within that threshold, and older
      months have higher error rates.
  - validation_name: supervision_population_person_level_external_comparison_matching_people_supervision_level
    hard_max_allowed_error_override: .11
    override_reason: Investigation needed. TODO(#32640)
  - validation_name: incarceration_population_by_custody_level_external_comparison
    hard_max_allowed_error_override: .3
    override_reason: Investigation needed. TODO(#33417)
num_allowed_rows_overrides:
  - validation_name: invalid_release_reasons_for_temporary_custody
    hard_num_allowed_rows_override: 50
    override_reason: Investigation needed. TODO(#34826)
  - validation_name: overlapping_incarceration_periods
    hard_num_allowed_rows_override: 150
    override_reason: |-
      There are rare cases where a person is incarcerated with two distinct DOC_IDs assigned
      at the same time. These people presumably are serving two concurrent sentences at the same
      time. Current failing level as of 9/17/24 is 140 rows.
  - validation_name: overlapping_supervision_periods
    hard_num_allowed_rows_override: 300
    override_reason: To investigate (#32648)
  - validation_name: inferred_group_aggregated_projected_dates_validation
    hard_num_allowed_rows_override: 60000
    override_reason: Bumping until work is complete to fix. TODO(#34858)
