# Configuration for which validations to run for region US_CA.

region_code: US_CA
dev_mode: False
exclusions:
  - validation_name: dataflow_metrics_supervising_officer_staff_id_all_null
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: TODO(#22105) -- We haven't hydrated supervising officer yet in supervision periods
  - validation_name: session_new_admissions_with_no_sentence_date_imposed
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: TODO(#20922) -- We haven't hydrated sentences yet
  - validation_name: dataflow_metrics_admission_reason_all_internal_unknown
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: TODO(#22106) -- We haven't hydrated admission reason in supervision periods yet
  - validation_name: sessions_missing_closest_sentence_imposed_group
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: TODO(#20922) -- We haven't hydrated sentences yet
  - validation_name: case_insights_rates_missing_charges
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: Sentencing assistance case insights are not configured/launched for this state
  - validation_name: state_incarceration_period_by_release_date_stable_counts
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: TODO(#54723) Incarceration periods only exist as inferred from supervision periods.
  - validation_name: state_incarceration_period_by_admission_date_stable_counts
    exclusion_type: DOES_NOT_APPLY
    exclusion_reason: TODO(#54723) Incarceration periods only exist as inferred from supervision periods.
max_allowed_error_overrides:
  - validation_name: state_supervision_period_by_termination_date_stable_counts
    hard_max_allowed_error_override: .36
    override_reason: I think this is normal variation! Especially towards the end of the year, we tend to see a lot of action.
  - validation_name: state_supervision_period_by_start_date_stable_counts
    hard_max_allowed_error_override: 0.36
    override_reason: I think this is normal variation! Especially towards the end of the year, we tend to see a lot of action.
  - validation_name: outliers_staff_count_percent_change_intermonth
    hard_max_allowed_error_override: .07
    override_reason: This is likely expected variation.
  - validation_name: outliers_staff_count_percent_change_intramonth
    hard_max_allowed_error_override: .05
    override_reason: This is likely expected variation.
  - validation_name: outlier_status_percent_change_exceeded
    hard_max_allowed_error_override: .55
    override_reason: >-
      Our ARMS programming data sometimes includes records from the past, which can
      cause rather large swings in the outliers metric. TODO(#45967) We also only
      receive data once a month, which can also contribute to instability in this
      metric. TODO(#45965)
num_allowed_rows_overrides:
  - validation_name: product_roster_upcoming_blocks
    hard_num_allowed_rows_override: 15
    override_reason: >-
      We block PA I's who no longer appear in state_staff, no longer have a caseload, or
      have a name change (in which case a new staff member with the new email is
      introduced). There seem to be about 10 typically on any given week. Filtering out
      weeks with lower than 15 blocks to reduce noise.
  - validation_name: parole_agent_badge_number_changes
    hard_num_allowed_rows_override: 55
    override_reason: >-
      This validation doesn't currently have any impact on product. See more information
      at https://go/ca-badge-numbers. It's possible that we should turn this off.
  - validation_name: overlapping_supervision_periods
    hard_num_allowed_rows_override: 20
    override_reason: Low level of validations, will fix later! TODO(#46026)
