<table align="center" width="600" border="0" cellspacing="0" cellpadding="0"
    class="em_wrapper em_dark em_border_radius" bgcolor="#ffffff"
    style="width:600px; border-radius: 5px;" role="presentation">
    {% block rows %}{% endblock rows %}
</table>
