  <!--[if gte mso 9]>
      <xml>
         <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
         </o:OfficeDocumentSettings>
      </xml>
      <![endif]-->
  <title>recidiviz</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  <meta name="format-detection" content="telephone=no" />
  <meta name="color-scheme" content="light dark" />
  <meta name="supported-color-schemes" content="light dark" />
  <!--[if !mso]><!-->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
  </style>
  <!--<![endif]-->
  <style type="text/css">
    :root {
      color-scheme: light dark;
      supported-color-schemes: light dark;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100% !important;
      -ms-text-size-adjust: 100% !important;
      -webkit-font-smoothing: antialiased !important;
    }

    img {
      border: 0 !important;
      outline: none !important;
    }

    p {
      Margin: 0px !important;
      Padding: 0px !important;
    }

    table {
      border-collapse: collapse;
      mso-table-lspace: 0px;
      mso-table-rspace: 0px;
    }

    td,
    a,
    span {
      border-collapse: collapse;
      mso-line-height-rule: exactly;
    }

    .ExternalClass * {
      line-height: 100%;
    }

    .em_defaultlink a {
      color: inherit;
      text-decoration: none;
    }

    a[x-apple-data-detectors],
    u+.em_body a {
      color: inherit;
      text-decoration: none;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit;
    }

    .em_sp span {
      background-color: transparent !important;
      color: #00413E !important;
    }

    @media only screen and (max-width:599px) {
      .em_main_table {
        width: 100% !important;
      }

      .em_wrapper {
        width: 100% !important;
      }

      .em_hide {
        display: none !important;
      }

      .em_aside10 {
        padding: 0px 10px !important;
      }

      .em_side15 {
        width: 15px !important;
      }

      .em_h20 {
        height: 20px !important;
        font-size: 1px !important;
        line-height: 1px !important;
      }

      u+.em_body .em_full_wrap {
        width: 100% !important;
        width: 100vw !important;
      }

      .em_h15 {
        height: 15px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_side {
        width: 75px !important;
      }

      .em_img {
        width: 80px !important;
        height: auto !important;
      }

      .em_img img {
        width: 80px !important;
        height: auto !important;
      }

      .em_line {
        font-size: 14px !important;
        line-height: 18px !important;
      }

      .em_head_font {
        font-size: 18px !important;
        line-height: 20px !important;
      }

      .em_num_font {
        font-size: 34px !important;
        line-height: 36px !important;
      }

      .em_headertext {
        font-size: 20px !important;
        line-height: 28px !important;
      }

      .em_h1 {
        height: 32px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_width {
        width: 15px !important;
      }

      .em_font1 {
        font-size: 18px !important;
        line-height: 24px !important;
        padding: 0px 10px !important;
      }

      .em_pright10 {
        padding-right: 10px !important;
      }

      .em_heading {
        font-size: 22px !important;
        line-height: 24px !important;
      }

      .em_star img {
        width: 18px !important;
        height: auto !important;
      }

      .em_h42 {
        height: 42px !important;
      }

      .em_padd {
        padding: 18px 24px 18px 18px !important;
      }

      .em_footer_font {
        font-size: 16px !important;
        line-height: 22px !important;
      }

      .em_h50 {
        height: 42px !important;
      }

      .em_arrow {
        width: 100% !important;
        height: auto !important;
      }

      .em_arrow img {
        width: 100% !important;
        height: auto !important;
      }

      .em_side22 {
        width: 22px !important;
      }

      .em_ptop8 {
        padding-top: 18px !important;
      }

      .em_border_radius {
        border-radius: 2px !important;
      }

      .em_padtop0 {
        padding-top: 0px !important;
      }

      .em_font {
        font-size: 14px !important;
        line-height: 18px !important;
      }

      .em_side1 {
        width: 40px !important;
      }

      .em_side2 {
        width: 20px !important;
      }

      .em_gap1 {
        width: 50px !important;
      }

      .em_gap2 {
        width: 24px !important;
      }
    }

    @media screen and (max-width:480px) {
      .em_headertext {
        font-size: 16px !important;
        line-height: 24px !important;
      }

      .em_side8 {
        width: 8px !important;
      }

      .em_side {
        width: 75px !important;
      }

      .em_img {
        width: 60px !important;
        height: auto !important;
      }

      .em_img img {
        width: 60px !important;
        height: auto !important;
      }

      .em_line {
        font-size: 12px !important;
        line-height: 18px !important;
      }

      .em_head_font {
        font-size: 16px !important;
        line-height: 20px !important;
      }

      .em_num_font {
        font-size: 22px !important;
        line-height: 26px !important;
      }

      .em_num1 {
        font-size: 26px !important;
        line-height: 28px !important;
      }

      .em_text {
        font-size: 15px !important;
        line-height: 18px !important;
      }

      .em_h8 {
        height: 8px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_h1 {
        height: 26px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_width {
        width: 15px !important;
      }

      .em_font1 {
        font-size: 12px !important;
        line-height: 14px !important;
        padding: 0px 10px !important;
      }

      .em_img1 {
        width: 50px !important;
        height: auto !important;
      }

      .em_img1 img {
        width: 50px !important;
        height: auto !important;
      }

      .em_heading {
        font-size: 20px !important;
        line-height: 22px !important;
      }

      .em_star img {
        width: 12px !important;
        height: auto !important;
      }

      .em_button {
        width: 200px !important;
      }

      .em_cta {
        height: 42px !important;
        font-size: 18px !important;
        line-height: 20px !important;
      }

      .em_cta a {
        line-height: 42px !important;
      }

      .em_side12 {
        width: 12px !important;
      }

      .em_h10 {
        height: 10px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_h12 {
        height: 12px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_h25 {
        height: 27px !important;
      }

      .em_h34 {
        height: 34px !important;
      }

      .em_h28 {
        height: 28px !important;
      }

      .em_padd {
        padding: 18px 24px 18px 18px !important;
      }

      .em_footer_font {
        font-size: 14px !important;
        line-height: 22px !important;
      }

      .em_h18 {
        height: 18px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_head_logo img {
        width: 15px !important;
        height: auto !important;
      }

      .em_h4 {
        height: 4px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_arrow {
        width: 45px !important;
        height: auto !important;
      }

      .em_arrow img {
        width: 45px !important;
        height: auto !important;
      }

      .em_num_width {
        width: 60px !important;
      }

      .em_ptop8 {
        padding-top: 12px !important;
      }

      .em_footerline {
        font-size: 12px !important;
        line-height: 24px !important;
      }

      .em_font {
        font-size: 14px !important;
        line-height: 18px !important;
      }

      .em_side1 {
        width: 30px !important;
      }

      .em_side2 {
        width: 30px !important;
      }

      .em_gap1 {
        width: 40px !important;
      }

      .em_gap2 {
        width: 24px !important;
      }
    }

    @media screen and (max-width:374px) {
      .em_headertext {
        font-size: 12px !important;
        line-height: 18px !important;
        padding-right: 4px !important;
      }

      .em_side {
        width: 75px !important;
      }

      .em_img {
        width: 45px !important;
        height: auto !important;
      }

      .em_img img {
        width: 45px !important;
        height: auto !important;
      }

      .em_line {
        font-size: 10px !important;
        line-height: 18px !important;
      }

      .em_head_font {
        font-size: 14px !important;
        line-height: 18px !important;
      }

      .em_num_font {
        font-size: 20px !important;
        line-height: 24px !important;
      }

      .em_num1 {
        font-size: 14px !important;
        line-height: 16px !important;
      }

      .em_font {
        font-size: 10px !important;
        line-height: 12px !important;
      }

      .em_h1 {
        height: 14px !important;
        font-size: 0px !important;
        line-height: 0px !important;
      }

      .em_width {
        width: 15px !important;
      }

      .em_font1 {
        font-size: 10px !important;
        line-height: 14px !important;
        padding: 0px 10px !important;
      }

      .em_img1 {
        width: 34px !important;
        height: auto !important;
      }

      .em_img1 img {
        width: 34px !important;
        height: auto !important;
      }

      .em_heading {
        font-size: 12px !important;
        line-height: 14px !important;
      }

      .em_button {
        width: 150px !important;
      }

      .em_cta {
        height: 38px !important;
        font-size: 12px !important;
        line-height: 14px !important;
      }

      .em_cta a {
        line-height: 38px !important;
      }

      .em_h22 {
        height: 22px !important;
      }

      .em_padd {
        padding: 10px 12px 0px 12px !important;
      }

      .em_footer_font {
        font-size: 12px !important;
        line-height: 18px !important;
      }

      .em_text {
        font-size: 12px !important;
        line-height: 18px !important;
      }

      .em_arrow {
        width: 34px !important;
        height: auto !important;
      }

      .em_arrow img {
        width: 34px !important;
        height: auto !important;
      }

      .em_line img {
        width: 10px !important;
        height: auto !important;
      }

      .em_footer_logo img {
        width: 48px !important;
        height: auto !important;
        padding-top: 2px !important;
      }

      .em_footerline {
        font-size: 9px !important;
        line-height: 12px !important;
      }

      .em_h25 {
        height: 27px !important;
      }

      .em_h34 {
        height: 34px !important;
      }

      .em_h28 {
        height: 28px !important;
      }

      .em_ptop8 {
        padding-top: 6px !important;
      }

      .em_side1 {
        width: 35px !important;
      }

      .em_side2 {
        width: 25px !important;
      }

      .em_gap1 {
        width: 35px !important;
      }

      .em_gap2 {
        width: 25px !important;
      }
    }

    /*Darkmode Media*/
    @media screen and (prefers-color-scheme: dark) {
      .em_dark1 {
        background-color: #C7B8A0 !important;
      }

      .em_dark {
        background-color: #000000 !important;
      }

      .body {
        background-color: #172430 !important;
        color: #ffffff !important;
      }

      .em_dm_grey {
        background-color: #333333 !important;
      }

      .em_dm_txt_white {
        color: #FFFFFF !important;
      }

      .em_dm_txt_white a {
        color: #FFFFFF !important;
      }
    }

    /*//Darkmode Media*/
  </style>
