<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office" lang="en">

<head>
  {% include "common/html_header.html.jinja2" %}
</head>

<body class="em_body em_dm_grey" style="margin:0px auto; padding:0px;" bgcolor="#F2F4F4">
  {% block body %}{% endblock body %}
</body>

</html>
