  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="em_full_wrap em_dm_grey" bgcolor="#F2F4F4"
    style="table-layout:fixed;">
    <tr>
      <td align="center" valign="top">
        <table align="center" width="632" border="0" cellspacing="0" cellpadding="0" class="em_main_table"
          style="width:632px; table-layout:fixed;">
          <tr>
            <td class="em_side8" width="16" style="width: 16px;">&nbsp;</td>
            <td valign="top" align="center">
              <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="em_wrapper"
                style="width:600px;">
                <tr>
                  <td class="em_h12" height="24" style="height: 24px;">&nbsp;</td>
                </tr>
                <tr>
                  <td valign="top" align="left">
                    <table {% if learn_more_link %}width="100%" {% endif %}border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="em_head_logo" valign="top" align="left"><a href="https://www.recidiviz.org/"
                            target="_blank" style="text-decoration: none;"><img
                              src="{{ static_image_path }}/ic_recidiviz.png" width="26" height="26" alt=" " border="0"
                              style="display: block; max-width: 28px;" /></a></td>
                        {% if learn_more_link -%}
                        <td class="em_defaultlink em_font em_dm_txt_white em_padtop0" valign="middle" align="right"
                          style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 18px; line-height: 24px; font-weight: 400; color: #006C67; padding-top: 6px;">
                          <a href="{{ learn_more_link }}"
                            target="_blank" style="color: #006C67; text-decoration: none;">Learn More</a>
                        </td>
                        {% endif -%}
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="em_h25" height="54" style="height: 54px;">&nbsp;</td>
                </tr>
                <tr>
                  <td class="em_headertext em_dm_txt_white" valign="top" align="left"
                    style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 20px; line-height: 28px; font-weight: 400; color: #00413E;">
                    {{ greeting }} <br />
                    <br />
                    {{ message_body }}
                  </td>
                </tr>
                <tr>
                  <td class="em_h34" height="63" style="height: 63px;">&nbsp;</td>
                </tr>
              </table>
            </td>
            <td class="em_side8" width="16" style="width: 16px;">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
