{% extends "common/container.html.jinja2" %}

{% block children %}
  <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="em_wrapper"
    style="width:600px;" role="presentation">
    {{ components.y_padding(24) }}
    <tr>
      <td valign="top" align="left">
        <table {% if learn_more_link %}width="100%" {% endif %}border="0" cellspacing="0" cellpadding="0" role="presentation">
          <tr>
            <td class="em_head_logo" valign="top" align="left"><a href="https://www.recidiviz.org/"
                target="_blank" style="text-decoration: none;"><img
                  src="{{ static_image_path }}/ic_recidiviz.png" width="26" height="26" alt=" " border="0"
                  style="display: block; max-width: 28px;" /></a></td>
            {% if learn_more_link -%}
            <td class="em_defaultlink em_font em_dm_txt_white em_padtop0" valign="middle" align="right"
              style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 18px; line-height: 24px; font-weight: 400; color: #006C67; padding-top: 6px;">
              <a href="{{ learn_more_link }}"
                target="_blank" style="color: #006C67; text-decoration: none;">Learn More</a>
            </td>
            {% endif -%}
          </tr>
        </table>
      </td>
    </tr>
    {{ components.y_padding(54) }}
    <tr>
      <td class="em_headertext em_dm_txt_white" valign="top" align="left"
        style="font-family: 'Libre Franklin', Arial, sans-serif; font-size: 20px; line-height: 28px; font-weight: 400; color: #00413E;">
        {{ greeting }} <br />
        <br />
        {{ message_body }}
      </td>
    </tr>
    {{ components.y_padding(63) }}
  </table>
{% endblock children %}
