[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tabula-py = "==1.3.1"
flask = "*"
gunicorn = "*"
gcsfs = "*"
pyjwt = "*"
cryptography = "*"

[requires]
python_version = "3.7"
