{% extends "common/card.html.jinja2" %}

{% block children %}
  {% with task=assessments %}
  {% include "po_monthly_report/compliance/up_to_date.html.jinja2" %}
{% endwith %}
{% endblock children %}
