{% extends "common/card.html.jinja2" %}

{% block children %}
  {{ components.layout_table_start()}}
    <tr>
      {{ components.heading("Great work!", align="center", size="xl") }}
    </tr>
    {{ components.y_padding(24) }}
    <tr>
      <td>
        {% include "po_monthly_report/compliance/up_to_date.html.jinja2" %}
      </td>
    </tr>
  {{ components.layout_table_end()}}
{% endblock children %}
