{% extends "common/card.html.jinja2" %}
{% from "po_monthly_report/compliance/up_to_date.html.jinja2" import up_to_date with context %}



{% block children %}
  {{ components.layout_table_start()}}
    <tr>
      {{ components.heading("Great work!", align="center", size="xl") }}
    </tr>
    {{ components.y_padding(24) }}
    <tr>
      <td>
        {% if assessments_goal_met %}
          {{ up_to_date("assessments") }}
        {% else %}
          {{ up_to_date("facetoface") }}
        {% endif %}
      </td>
    </tr>
  {{ components.layout_table_end()}}
{% endblock children %}
