{% import 'common/components.html.jinja2' as components with context %}

{% set icon_image = "ic_{}.png".format(task.metric) %}
{# may not have a valid goal to show even if we're under the threshold, e.g. if a null or zero crept in #}
{% set show_goal = task.show_goal and task.goal_pct %}

{{ components.layout_table_start() }}
  <tr>
    <td>
      {{ components.layout_table_start() }}
        <tr>
          <td class="ComplianceCard__icon" style="width: 40px; padding-right: 16px;" valign="top">
            <img src="{{ static_image_path }}/{{icon_image}}" alt="" width="40" height="40">
          </td>
          {{ components.heading("{:0.0f}% {}s up to date".format(task.pct, task.metric_label|title), size="md", valign="center") }}
        </tr>
      {{ components.layout_table_end() }}
    </td>
  </tr>
  {{
    components.y_padding(16)
  }}
  <tr>
    <td>
      {{ components.layout_table_start() }}
        <tr>
          <td
            class="ComplianceCard__chart"
            style="
              {# fallback to solid color for clients that can't display the gradient #}
              background-color: #014C48;
              background-image: linear-gradient(270deg, #26D5AA 0%, #25B894 8.22%, #178B75 22.95%, #0D6C5F 38.36%, #014C48 53.77%);
              height: 56px;
              width: {{ task.pct }}%;
            "
          ></td>
          <td
            class="ComplianceCard__chart"
            style="background-color: #E9EDED; width: {{100 - task.pct}}%; height: 56px;"
          ></td>
        </tr>
      {{ components.layout_table_end() }}
    </td>
  </tr>
  {% if show_goal %}
  <tr>
    <td>
      {{ components.layout_table_start() }}
        {{ components.y_padding(1) }}
        <tr>
          <td 
            width="{{ task.pct }}%"
            style="width: {{ task.pct }}%; height: 6px;"></td>
          <td
            style="
              width: {{ task.goal_pct - task.pct }}%;
              height: 6px;
              border: 1px solid #237CAF;
              border-top: none;
            "
          ></td>
          <td width="{{100 - task.goal_pct}}%" style="width: {{100 - task.goal_pct}}%"></td>
        </tr>
      {{ components.layout_table_end() }}
    </td>
  </tr>
  {% endif %}
  {{
    components.y_padding(4)
  }}
  <tr>
    <td
      class="ComplianceCard__goal"
      style="
        {{brand_styles.fonts.sans_serif}}
        font-weight: 500;
        font-size: 16px;
        color: #237caf;
      "
    >
      {{ task.num_completed }} completed.
      {% if show_goal %}
        Complete {{ task.goal }} overdue {{task.metric_label}}{% if task.goal != 1 %}s{% endif %}
        to get to {{ "{:0.0f}".format(task.goal_pct) }}%.
      {% endif %}
    </td>
  </tr>
{{ components.layout_table_end() }}